/* This is a CSS file specifically for handling button CSS class styling. */

.btn {
    padding: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0);
}

.btn-reset-pw {
    min-height: 15px;
    text-align: right;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    color: rgb(0, 106, 255) !important;
    background-color: rgba(0, 0, 0, 0);
}

.btn-reset-pw:hover {
    background-color: transparent !important;
    color: rgb(64, 111, 176) !important;
}

.btn-reset-pw:active {
    background-color: transparent !important;
    color: rgb(37, 67, 109) !important;
}

.btn-primary {
    background-color: rgb(32, 76, 137);
}

.btn-primary:hover {
    background-color: rgb(57, 104, 170);
}

.btn-primary:active {
    background-color: rgb(21, 56, 105);
}

.btn-info {
    background-color: rgb(32, 137, 119);
}

.btn-info:hover {
    background-color: rgb(62, 178, 159);
}

.btn-info:active {
    background-color: rgb(18, 95, 82);
}

.btn-success {
    background-color: rgb(41, 129, 64);
}

.btn-success:hover {
    background-color: rgb(74, 148, 94);
}

.btn-success:active {
    background-color: rgb(25, 77, 39);
}

.btn-danger {
    background-color: rgb(140, 45, 45);
}

.btn-danger:hover {
    background-color: rgb(173, 81, 81);
}

.btn-danger:active {
    background-color: rgb(100, 28, 28);
}

.btn-warning {
    background-color: rgb(207, 135, 27);
}

.btn-warning:hover {
    background-color: rgb(226, 162, 66);
}

.btn-warning:active {
    background-color: rgb(174, 107, 6);
}

/* Outline Button */

.btn-primary-b {
    background-color: transparent;
    border: 2px solid rgb(32, 76, 137);
    color: rgb(32, 76, 137);
}

.btn-primary-b:hover {
    background-color: rgb(32, 76, 137);
    color: white;
}

.btn-primary-b:active {
    background-color: rgb(21, 56, 105);
    color: white;
}

.btn-info-b {
    background-color: transparent;
    border: 2px solid rgb(32, 137, 119);
    color: rgb(32, 137, 119);
}

.btn-info-b:hover {
    background-color: rgb(32, 137, 119);
    color: white;
}

.btn-info-b:active {
    background-color: rgb(18, 95, 82);
    color: white;
}

.btn-success-b {
    background-color: transparent;
    border: 2px solid rgb(41, 129, 64);
    color: rgb(41, 129, 64);
}

.btn-success-b:hover {
    background-color: rgb(41, 129, 64);
    color: white;
}

.btn-success-b:active {
    background-color: rgb(25, 77, 39);
    color: white;
}

.btn-danger-b {
    background-color: transparent;
    border: 2px solid rgb(140, 45, 45);
    color: rgb(140, 45, 45);
}

.btn-danger-b:hover {
    background-color: rgb(140, 45, 45);
    color: white;
}

.btn-danger-b:active {
    background-color: rgb(100, 28, 28);
    color: white;
}

.btn-warning-b {
    background-color: transparent;
    border: 2px solid rgb(207, 135, 27);
    color: rgb(207, 135, 27);
}

.btn-warning-b:hover {
    background-color: rgb(207, 135, 27);
    color: white;
}

.btn-warning-b:active {
    background-color: rgb(174, 107, 6);
    color: white;
}

.btn-dropdown {
    border-style: none;
    color: black;
    font-weight: 600;
    background-color: transparent;
    padding: 1.5rem;
    font-size: 17px;
}

.btn-dropdown:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.hamburger-btn {
    padding-inline: 1rem;
    padding-block: 0.5rem;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0);
    font-size: larger;
}

.hamburger-btn:hover {
    background-color: rgb(255, 255, 255);
}

.hamburger-btn:active {
    background-color: rgb(226, 226, 226);
}
