/* Percobaan Dark Mode */
.dark-mode {
    background-color: #0c0c0c;
    color: rgb(255, 255, 255);
}
.dark-mode a {
    color: rgb(255, 255, 255);
}
.dark-mode .card {
    box-shadow: 0px 5px 10px #ffffff33;
    background-color: #0c0c0c;
}
.dark-mode .card-mini {
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
    background-color: #232323;
}
.dark-mode .nav {
    background-color: #171717;
}
.dark-mode .line {
    background-color: white;
}
.dark-mode input {
    background-color: #313131;
    color: white;
}
.dark-mode textarea {
    background-color: #313131;
    color: white;
}
.dark-mode select {
    background-color: #313131;
    color: white;
}
.dark-mode .dropdown-menu {
    background-color: #5a5a5a;
}
.dark-mode button {
    color: white;
    border-color: white;
}
.dark-mode button:hover {
    background-color: #5a5a5a;
}
.dark-mode .header-img {
    filter: invert(1);
}
.dark-mode .text-bg {
    background-color: #191919;
}
.dark-mode .menu-card {
    background-color: #0c0c0c;
    box-shadow: 0px 5px 10px hsla(0, 0%, 100%, 0.065);
}
.dark-mode .menu-card:hover {
    background-color: #0c0c0c;
    box-shadow: 0px 5px 10px hsla(0, 0%, 100%, 0.388);
}
.dark-mode .generalPg-bg {
    background-image: url('https://raw.githubusercontent.com/akbarvideoeditor03/kopi_cv_maker/refs/heads/master/public/assets/images/about-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.dark-mode .about-img {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
}
.dark-mode footer {
    background-color: #1b1b1b;
}
.dark-mode .btn-reset-pw {
    min-height: 15px;
    text-align: right;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    border-radius: 7px;
    border-style: none;
    cursor: pointer;
    color: rgb(0, 162, 255) !important;
    background-color: rgba(0, 0, 0, 0);
}
.dark-mode .btn-reset-pw:hover {
    background-color: transparent !important;
    color: white !important;
}
.dark-mode .btn-reset-pw:active {
    background-color: transparent !important;
    color: rgb(182, 182, 182) !important;
}

