/* This is a CSS file specifically for handling CSS class styling. */

.card {
    min-height: 20rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(44, 44, 44, 0.2);
}

.card-mini {
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(44, 44, 44, 0.2);
}

/* Flex Layout */

.container {
    display: flex;
}

.col-f {
    flex-direction: column;
    gap: 1rem;
}

.col-f-0 {
    flex-direction: column;
    gap: 0rem;
}

.row-f {
    flex-direction: row;
    gap: 1rem;
}

.row-f-0 {
    flex-direction: row;
    gap: 0rem;
}

.f-around {
    justify-content: space-around;
}

.f-between {
    justify-content: space-between;
}

.f-evenly {
    justify-content: space-evenly;
}

.f-center {
    align-items: center;
}

.f-center-c {
    justify-content: center;
    align-items: center;
}

.f-center-l {
    justify-content: center;
    align-items: start;
}

.f-center-r {
    justify-content: center;
    align-items: end;
}

.f-align-t {
    justify-content: start;
    align-items: center;
}

.f-content {
    margin: 0 auto;
    max-width: 1440px;
    flex: 1;
}

.fj-center {
    justify-content: center;
}

.f-start {
    justify-content: start;
    align-items: start;
}

.f-end {
    justify-content: end;
    align-items: end;
}

.f-1 {
    flex: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-wrap-r {
    flex-wrap: wrap-reverse;
}

.full-width {
    width: 100%;
}

.section-max {
    max-width: 1200px;
    padding: 1rem;
}

.line {
    background-color: black;
    width: 100%;
    height: 1px;
}

.vline {
    background-color: black;
    width: 10px;
    margin-inline: 0.5rem;
    height: 100%;
    border-radius: 5px;
}

.lp-section {
    min-height: 100vh;
    padding-block: 1rem;
    margin: -1rem;
}

.header-img {
    max-width: 70px;
}

.detail-img {
    max-width: 200px;
    max-height: 280px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.detail-templat-img {
    min-width: 100px;
    max-width: 640px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
}

.cv-image {
    min-width: 100px;
    max-width: 120px;
    min-height: 150px;
    max-height: 150px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.custom-select {
    position: relative;
    width: 100%;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-size: 18px;
    padding: 5px 35px 5px 10px;
    /* space buat ikon */
    background-color: #fff;
    border: 1px solid #C4D1EB;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px 2px 0px #E2E2E2;
}

.custom-select select:focus {
    background: #F2F2F2;
    border: 1px solid #5A7EC7;
}

.select-arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: transform 0.3s ease;
    font-size: 16px;
}

.preview-cv-image {
    min-width: 150px;
    max-width: 260px;

    min-height: 175px;
    max-height: 360px;

    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.cv-templat {
    min-width: 150px;
    max-width: 350px;
    width: 80%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.icon-img {
    max-width: 20px;
}

.user-list,
.templat-list {
    color: rgb(30, 30, 30);
}

.list-container {
    min-height: 50vh;
}

.left-dashboard-container {
    min-height: 10vh;
}

.menu-card {
    transition: transform 200ms ease-out;
    padding: 1rem;
    border-radius: 10px;
    background-color: #e9e9e9;
    box-shadow: 0px 5px 10px hsla(0, 0%, 0%, 0.2);
}

.menu-card:hover {
    position: relative;
    background-color: #ffffff;
    transform: translateY(-2%);
    box-shadow: 0px 5px 10px rgba(255, 172, 56, 0.5);
}

.menu-card:active {
    position: relative;
    background-color: #f7f7f7;
    transform: translateY(-2%) scale(99.25%);
    box-shadow: 0px 5px 10px rgba(169, 113, 33, 0.5);
}

.templat-card {
    transition: transform 200ms ease-out;
    padding: 1rem;
    border-radius: 5px;
}

.templat-card:hover {
    position: relative;
    transform: translateY(-2%);
    filter: drop-shadow(0px 5px 10px rgba(255, 172, 56, 0.5));
}

.templat-card:active {
    position: relative;
    transform: translateY(-2%) scale(99.25%);
    filter: drop-shadow(0px 5px 10px rgba(169, 113, 33, 0.5));
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-inline: 2rem;
    height: 67.5px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.nav-max {
    max-width: 1200px;
}

.nav a {
    color: black;
}

.textarea {
    min-height: 200px;
    min-width: 100%;
    max-width: calc(100%);
    resize: none;
}

.content-collapsible {
    padding: 2rem;
    border-radius: 10px;
    display: none;
    overflow: hidden;
    background-position: center;
    border-style: solid;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.8);
    max-height: 720px;
    overflow: auto;
    backdrop-filter: brightness(0.95) blur(10px);
}

.content-collapsible li {
    line-height: 1.5rem;
}

.content-collapsible li ol li {
    margin-left: 1.5rem;
}

.ul-numbering::marker {
    list-style: square;
}

/* Grid Layout */

.grid {
    display: grid;
}

.grid-gap {
    gap: 1rem;
}

/* Font Weight Classes */

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.fw7 {
    font-weight: 700;
}

.fw8 {
    font-weight: 800;
}

.fwb {
    font-weight: bold;
}

/* Font Colors Classes */

/* Text Color Classes */

.c-white {
    color: white;
}

.c-black {
    color: rgb(0, 0, 0);
}

.c-red {
    color: rgb(187, 42, 42);
}

/* Dropdown */

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown-menu {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 3.415rem;
    right: -2rem;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100vw;
    transform: translateX(-100%);
    transition:
        transform 0.3s ease,
        opacity 0.3s ease,
        visibility 0.3s;
    overflow: hidden;
}

.dropdown-menu.open {
    overflow: hidden;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 17px;
    text-decoration: none;
    padding: 1.5rem;
    padding-inline: 2rem;
    transition: background-color 0.2s;
}

.dropdown-menu a:hover {
    background-color: #b9b9b9;
}

/* Text Classes */

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-justify {
    text-align: justify;
}

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: calc(70%);
    height: 1.2em;
    white-space: wrap;
}

.login-left {
    flex-grow: 1;
    flex-basis: 250px;
}

.login-right {
    flex-grow: 1;
    flex-basis: 280px;
}

.left-card-menu {
    flex-basis: 240px;
}

.right-card-menu {
    flex-basis: 100px;
}

/* Margin Classes */

/* Margin Block */
.m-b1 {
    margin-block: 1rem;
}

.m-b2 {
    margin-block: 2rem;
}

.m-b3 {
    margin-block: 3rem;
}

.m-b4 {
    margin-block: 4rem;
}

.m-b5 {
    margin-block: 5rem;
}

/* Margin inline */
.m-i1 {
    margin-inline: 1rem;
}

.m-i2 {
    margin-inline: 2rem;
}

.m-i3 {
    margin-inline: 3rem;
}

.m-i4 {
    margin-inline: 4rem;
}

.m-i5 {
    margin-inline: 5rem;
}

/* Margin top */

.m-t1 {
    margin-top: 1rem;
}

.m-t2 {
    margin-top: 2rem;
}

.m-t3 {
    margin-top: 3rem;
}

.m-t4 {
    margin-top: 4rem;
}

.m-t5 {
    margin-top: 5rem;
}

/* Margin bottom*/

.m-bt1 {
    margin-bottom: 1rem;
}

.m-bt2 {
    margin-bottom: 2rem;
}

.m-bt3 {
    margin-bottom: 3rem;
}

.m-bt4 {
    margin-bottom: 4rem;
}

.m-bt5 {
    margin-bottom: 5rem;
}

.text-bg {
    border-radius: 7px;
    padding: 1rem;
    background-color: #ededed;
}

.t-italic {
    font-style: italic;
}

.footer-section {
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 200px;
}

.social-media {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.35rem;
    filter: grayscale(1);
}

.social-media:hover {
    transition: ease-in 150ms;
    filter: grayscale(0);
    color: #ffc400;
}

.social-media:active {
    filter: grayscale(0);
    color: rgb(138, 106, 0);
}

.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background:
        radial-gradient(farthest-side, #db974a 94%, #0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%, #db974a);
    -webkit-mask: radial-gradient(farthest-side,
            #0000 calc(100% - 8px),
            #000 0);
    animation: s3 1s infinite linear;
}

@keyframes s3 {
    100% {
        transform: rotate(1turn);
    }
}