/* This is a CSS file specifically for handling CSS class styling. */

.card {
    min-height: 20rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(44, 44, 44, 0.3);
}

.container {
    display: flex;
}

.c-white {
    color: white;
}

.col-f {
    flex-direction: column;
    gap: 1rem;
}

.col-f-0 {
    flex-direction: column;
    gap: 0rem;
}

.row-f {
    flex-direction: row;
    gap: 1rem;
}

.row-f-0 {
    flex-direction: row;
    gap: 0rem;
}

.f-around {
    justify-content: space-around;
}

.f-around {
    justify-content: space-between;
}

.f-evenly {
    justify-content: space-evenly;
}

.f-center {
    align-items: center;
}

.f-center-c {
    justify-content: center;
    align-items: center;
}

.fj-center {
    justify-content: center;
}

.f-center-l {
    justify-content: center;
    align-items: start;
}

.f-center-r {
    justify-content: center;
    align-items: end;
}

.f-content {
    margin: 0 auto;
    max-width: 1440px;
    flex: 1;
}

.f-1 {
    flex: 1;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-wrap-r {
    flex-wrap: wrap-reverse;
}

.full-width {
    width: 100%;
}

.footer-section {
    min-height: 200px;
    flex-grow: 1;
    flex-basis: 200px;
}

.social-media {
    color: white;
    display: flex;
    align-items: center;
    gap: 0.35rem;
    filter: grayscale(1);
}

.social-media:hover {
    transition: ease-in 150ms;
    filter: grayscale(0);
    color: #ffc400;
}

.social-media:active {
    filter: grayscale(0);
    color: rgb(138, 106, 0);
}

.section-max {
    max-width: 1200px;
    padding: 1rem;
}

.line {
    background-color: black;
    width: 100%;
    height: 1px;
}

.lp-section {
    min-height: 85vh;
    padding-block: 1rem;
    margin: -1rem;
}

.header-img {
    max-width: 70px;
}

.icon-img {
    max-width: 20px;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-inline: 2rem;
    height: 50px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}

.nav-max {
    max-width: 1200px;
}

.nav a {
    color: black;
}

.fw5 {
    font-weight: 500;
}

.fw6 {
    font-weight: 600;
}

.fw7 {
    font-weight: 700;
}

.fw8 {
    font-weight: 800;
}

.fwb  {
    font-weight: bold;
}

/* Dropdown */

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1;
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    list-style: none;
    position: absolute;
    top: 2.9rem;
    right: -2rem;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100vw;
}

.dropdown-menu.open {
    display: flex;
}

.dropdown-menu a {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 17px;
    text-decoration: none;
    padding: 1.5rem;
    padding-inline: 2rem;
    transition: background-color 0.2s;
}

.dropdown-menu a:hover {
    background-color: #b9b9b9;
}

/* Text Classes */

.t-left {
    text-align: left;
}

.t-right {
    text-align: right;
}

.t-center {
    text-align: center;
}

.t-justify {
    text-align: justify;
}

.login-left {
    flex-grow: 1;
    flex-basis: 200px;
}

.login-right {
    flex-grow: 1;
    flex-basis: 200px;
}