/* This is a CSS file specifically for handling imported styling and applying styles directly to HTML elements. */

@import url('https://fonts.googleapis.com/css2?family=Antic&family=Figtree:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.0/css/all.min.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Figtree', sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  min-height: 44px;
}

h1 {
  font-size: 120%;
}

li {
  margin-inline-start: 1rem;
  min-height: 2rem;
}

main {
  padding: 1rem;
  min-height: 100vh;
}

nav {
  display: inline;
  position: sticky;
  z-index: 1000;
  top: 0px;
}

input {
  padding: 0.75rem;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}

label {
  margin-bottom: 0.5rem;
}

footer {
  color: white;
  background-color: #232323;
}

footer section {
  padding: 1rem;
}

footer div p {
  margin-bottom: 1rem;
}

footer ul li {
  margin-left: 1.5rem;
  line-height: 1.75rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
