.a4-page {
    padding: 2rem;
    width: 210mm;
    height: 297mm;
    overflow-y: auto;
    object-fit: fill;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.cv-container {
    display: flex;
}

.cv-col {
    flex-direction: column;
    gap: 1rem;
}

.cv-col-0 {
    flex-direction: column;
}

.cv-row {
    flex-direction: row;
    gap: 1rem;
}

.cv-row-0 {
    flex-direction: row;
}

.cv-f1 {
    flex: 1;
}

.cv-namaUser {
    font-size: 180%;
    font-weight: bold;
}

.cv-subNama {
    font-size: 120%;
}

.cv-image {
    min-width: 100px;
    max-width: 120px;
    min-height: 150px;
    max-height: 150px;
    height: 100%;
    object-fit: cover;
    border-radius:10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}