/* This is a CSS file specifically for handling responsive styling. */

@media screen and (min-width : 447.5px) {
    footer div p {
        text-align: center;
    }
}

@media screen and (max-width : 540.5px) {
    .nav-l {
        display: none;
    }

    .btn-text-small {
        font-size: 70%;
    }
}

@media screen and (min-width : 540.5px) {
    .nav-s {
        display: none;
    }
}

@media screen and (max-width : 768.5px) {
    .text-h1 {
        font-size: 150%;
    }
}

@media screen and (min-width : 768.5px) {
    .text-h1 {
        font-size: 200%;
    }
}

@media screen and (max-width : 1024.5px) {
    

    .form-max-width {
        width: 100%;
    }
}

@media screen and (min-width : 1024.5px) {
    .text-h1 {
        font-size: 300%;
    }
    
    .form-max-width {
        max-width: 480px;
        width: 100%;
    }
}


/* Grid Responsive */

@media screen and (max-width : 480.5px) {
    .gc-1 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width : 480.5px) {
    .gc-2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width : 640.5px) {
    .gc-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width :  960.5px) {
    .gc-4 {
        grid-template-columns: repeat(4, 1fr);
    }
}