.btn-sun {
    width: 45px;
    height: 45px;
    background-image: url('/public/assets/icon/sun.svg');
    background-repeat: no-repeat;
    background-position: center;
    animation: pulse 5s ease-in-out infinite;
    filter: drop-shadow(2px 0px 10px rgb(0, 157, 255));
    animation: opacity 0.2s linear;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.btn-moon {
    width: 45px;
    height: 45px;
    background-image: url('/public/assets/icon/moon.svg');
    background-repeat: no-repeat;
    background-position: center;
    filter: drop-shadow(2px 0px 7px rgb(255, 251, 0));
    animation: pulse 5s ease-in-out infinite;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
}